@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-yslNMzXcRQZ_font-family: "Inter", sans-serif;
  --mixin-yslNMzXcRQZ_font-size: 16px;
  --mixin-yslNMzXcRQZ_font-weight: 400;
  --mixin-yslNMzXcRQZ_font-style: normal;
  --mixin-yslNMzXcRQZ_color: #535353;
  --mixin-yslNMzXcRQZ_text-align: left;
  --mixin-yslNMzXcRQZ_text-transform: none;
  --mixin-yslNMzXcRQZ_line-height: 1.5;
  --mixin-yslNMzXcRQZ_letter-spacing: normal;
  --mixin-yslNMzXcRQZ_white-space: pre-wrap;
  --mixin-yslNMzXcRQZ_user-select: text;
  --mixin-yslNMzXcRQZ_text-decoration-line: none;
  --mixin-yslNMzXcRQZ_text-overflow: clip;
  --mixin-lbmBeKz-6N14_color: #000000;
  --mixin-lbmBeKz-6N14_font-weight: 900;
  --mixin-lbmBeKz-6N14_font-size: 72px;
  --mixin-lbmBeKz-6N14_line-height: 1;
  --mixin-lbmBeKz-6N14_letter-spacing: -4px;
  --mixin-lbmBeKz-6N14_white-space: pre-wrap;
  --mixin-0IsUKbz2k2r6_color: #000000;
  --mixin-0IsUKbz2k2r6_font-size: 48px;
  --mixin-0IsUKbz2k2r6_font-weight: 700;
  --mixin-0IsUKbz2k2r6_letter-spacing: -1px;
  --mixin-0IsUKbz2k2r6_line-height: 1.1;
  --mixin-0IsUKbz2k2r6_white-space: pre-wrap;
  --mixin--X4NKfcKKI-V_color: #0070f3;
  --mixin--X4NKfcKKI-V_white-space: pre-wrap;
  --mixin-kOBf2c80rOoU_color: #000000;
  --mixin-kOBf2c80rOoU_font-size: 32px;
  --mixin-kOBf2c80rOoU_font-weight: 600;
  --mixin-kOBf2c80rOoU_letter-spacing: -0.8px;
  --mixin-kOBf2c80rOoU_line-height: 1.2;
  --mixin-kOBf2c80rOoU_white-space: pre-wrap;
  --mixin-zOcSSrGJtGQ__color: #000000;
  --mixin-zOcSSrGJtGQ__font-size: 24px;
  --mixin-zOcSSrGJtGQ__font-weight: 600;
  --mixin-zOcSSrGJtGQ__letter-spacing: -0.5px;
  --mixin-zOcSSrGJtGQ__line-height: 1.3;
  --mixin-zOcSSrGJtGQ__white-space: pre-wrap;
  --mixin-v-66iny2woJT_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-v-66iny2woJT_border-bottom-color: #dddddd;
  --mixin-v-66iny2woJT_border-bottom-style: solid;
  --mixin-v-66iny2woJT_border-bottom-width: 1px;
  --mixin-v-66iny2woJT_border-left-color: #dddddd;
  --mixin-v-66iny2woJT_border-left-style: solid;
  --mixin-v-66iny2woJT_border-left-width: 1px;
  --mixin-v-66iny2woJT_border-right-color: #dddddd;
  --mixin-v-66iny2woJT_border-right-style: solid;
  --mixin-v-66iny2woJT_border-right-width: 1px;
  --mixin-v-66iny2woJT_border-top-color: #dddddd;
  --mixin-v-66iny2woJT_border-top-style: solid;
  --mixin-v-66iny2woJT_border-top-width: 1px;
  --mixin-v-66iny2woJT_border-bottom-left-radius: 3px;
  --mixin-v-66iny2woJT_border-bottom-right-radius: 3px;
  --mixin-v-66iny2woJT_border-top-left-radius: 3px;
  --mixin-v-66iny2woJT_border-top-right-radius: 3px;
  --mixin-v-66iny2woJT_font-family: "Inconsolata";
  --mixin-v-66iny2woJT_padding-bottom: 1px;
  --mixin-v-66iny2woJT_padding-left: 4px;
  --mixin-v-66iny2woJT_padding-right: 4px;
  --mixin-v-66iny2woJT_padding-top: 1px;
  --mixin-v-66iny2woJT_white-space: pre-wrap;
  --mixin-6KAK6HvK0vEf_border-left-color: #dddddd;
  --mixin-6KAK6HvK0vEf_border-left-style: solid;
  --mixin-6KAK6HvK0vEf_border-left-width: 3px;
  --mixin-6KAK6HvK0vEf_color: #888888;
  --mixin-6KAK6HvK0vEf_padding-left: 10px;
  --mixin-6KAK6HvK0vEf_white-space: pre-wrap;
  --mixin-jbqlelurEw02_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-jbqlelurEw02_border-bottom-color: #dddddd;
  --mixin-jbqlelurEw02_border-bottom-style: solid;
  --mixin-jbqlelurEw02_border-bottom-width: 1px;
  --mixin-jbqlelurEw02_border-left-color: #dddddd;
  --mixin-jbqlelurEw02_border-left-style: solid;
  --mixin-jbqlelurEw02_border-left-width: 1px;
  --mixin-jbqlelurEw02_border-right-color: #dddddd;
  --mixin-jbqlelurEw02_border-right-style: solid;
  --mixin-jbqlelurEw02_border-right-width: 1px;
  --mixin-jbqlelurEw02_border-top-color: #dddddd;
  --mixin-jbqlelurEw02_border-top-style: solid;
  --mixin-jbqlelurEw02_border-top-width: 1px;
  --mixin-jbqlelurEw02_border-bottom-left-radius: 3px;
  --mixin-jbqlelurEw02_border-bottom-right-radius: 3px;
  --mixin-jbqlelurEw02_border-top-left-radius: 3px;
  --mixin-jbqlelurEw02_border-top-right-radius: 3px;
  --mixin-jbqlelurEw02_font-family: "Inconsolata";
  --mixin-jbqlelurEw02_padding-bottom: 3px;
  --mixin-jbqlelurEw02_padding-left: 6px;
  --mixin-jbqlelurEw02_padding-right: 6px;
  --mixin-jbqlelurEw02_padding-top: 3px;
  --mixin-jbqlelurEw02_white-space: pre-wrap;
  --mixin-b5V_n8CsDkwb_display: flex;
  --mixin-b5V_n8CsDkwb_flex-direction: column;
  --mixin-b5V_n8CsDkwb_align-items: stretch;
  --mixin-b5V_n8CsDkwb_justify-content: flex-start;
  --mixin-b5V_n8CsDkwb_list-style-position: outside;
  --mixin-b5V_n8CsDkwb_padding-left: 40px;
  --mixin-b5V_n8CsDkwb_position: relative;
  --mixin-b5V_n8CsDkwb_list-style-type: disc;
  --mixin-b5V_n8CsDkwb_white-space: pre-wrap;
  --mixin-4zNbiZcIn1Vg_display: flex;
  --mixin-4zNbiZcIn1Vg_flex-direction: column;
  --mixin-4zNbiZcIn1Vg_align-items: stretch;
  --mixin-4zNbiZcIn1Vg_justify-content: flex-start;
  --mixin-4zNbiZcIn1Vg_list-style-position: outside;
  --mixin-4zNbiZcIn1Vg_padding-left: 40px;
  --mixin-4zNbiZcIn1Vg_position: relative;
  --mixin-4zNbiZcIn1Vg_list-style-type: decimal;
  --mixin-4zNbiZcIn1Vg_white-space: pre-wrap;
  --mixin-j2YE5B10Zpv1_color: #000000;
  --mixin-j2YE5B10Zpv1_font-size: 20px;
  --mixin-j2YE5B10Zpv1_font-weight: 600;
  --mixin-j2YE5B10Zpv1_letter-spacing: -0.3px;
  --mixin-j2YE5B10Zpv1_line-height: 1.5;
  --mixin-j2YE5B10Zpv1_white-space: pre-wrap;
  --mixin-A8Pp8RnZFOIY_color: #000000;
  --mixin-A8Pp8RnZFOIY_font-size: 16px;
  --mixin-A8Pp8RnZFOIY_font-weight: 600;
  --mixin-A8Pp8RnZFOIY_line-height: 1.5;
  --mixin-A8Pp8RnZFOIY_white-space: pre-wrap;
  --mixin-oxqokZWi_gCS_color: #3291ff;
  --mixin-oxqokZWi_gCS_white-space: pre-wrap;
  --mixin-YmmqtVYPDoh1_white-space: pre-wrap;
  --mixin-WcHqhq7sAdFv_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-yslNMzXcRQZ_font-family);
  font-size: var(--mixin-yslNMzXcRQZ_font-size);
  font-weight: var(--mixin-yslNMzXcRQZ_font-weight);
  font-style: var(--mixin-yslNMzXcRQZ_font-style);
  color: var(--mixin-yslNMzXcRQZ_color);
  text-align: var(--mixin-yslNMzXcRQZ_text-align);
  text-transform: var(--mixin-yslNMzXcRQZ_text-transform);
  line-height: var(--mixin-yslNMzXcRQZ_line-height);
  letter-spacing: var(--mixin-yslNMzXcRQZ_letter-spacing);
  white-space: var(--mixin-yslNMzXcRQZ_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-lbmBeKz-6N14_color);
  font-weight: var(--mixin-lbmBeKz-6N14_font-weight);
  font-size: var(--mixin-lbmBeKz-6N14_font-size);
  line-height: var(--mixin-lbmBeKz-6N14_line-height);
  letter-spacing: var(--mixin-lbmBeKz-6N14_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-0IsUKbz2k2r6_color);
  font-size: var(--mixin-0IsUKbz2k2r6_font-size);
  font-weight: var(--mixin-0IsUKbz2k2r6_font-weight);
  letter-spacing: var(--mixin-0IsUKbz2k2r6_letter-spacing);
  line-height: var(--mixin-0IsUKbz2k2r6_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin--X4NKfcKKI-V_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-kOBf2c80rOoU_color);
  font-size: var(--mixin-kOBf2c80rOoU_font-size);
  font-weight: var(--mixin-kOBf2c80rOoU_font-weight);
  letter-spacing: var(--mixin-kOBf2c80rOoU_letter-spacing);
  line-height: var(--mixin-kOBf2c80rOoU_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-zOcSSrGJtGQ__color);
  font-size: var(--mixin-zOcSSrGJtGQ__font-size);
  font-weight: var(--mixin-zOcSSrGJtGQ__font-weight);
  letter-spacing: var(--mixin-zOcSSrGJtGQ__letter-spacing);
  line-height: var(--mixin-zOcSSrGJtGQ__line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-v-66iny2woJT_font-family);
  border-radius: var(--mixin-v-66iny2woJT_border-top-left-radius)
    var(--mixin-v-66iny2woJT_border-top-right-radius)
    var(--mixin-v-66iny2woJT_border-bottom-right-radius)
    var(--mixin-v-66iny2woJT_border-bottom-left-radius);
  padding: var(--mixin-v-66iny2woJT_padding-top)
    var(--mixin-v-66iny2woJT_padding-right)
    var(--mixin-v-66iny2woJT_padding-bottom)
    var(--mixin-v-66iny2woJT_padding-left);
  border-top: var(--mixin-v-66iny2woJT_border-top-width)
    var(--mixin-v-66iny2woJT_border-top-style)
    var(--mixin-v-66iny2woJT_border-top-color);
  border-right: var(--mixin-v-66iny2woJT_border-right-width)
    var(--mixin-v-66iny2woJT_border-right-style)
    var(--mixin-v-66iny2woJT_border-right-color);
  border-bottom: var(--mixin-v-66iny2woJT_border-bottom-width)
    var(--mixin-v-66iny2woJT_border-bottom-style)
    var(--mixin-v-66iny2woJT_border-bottom-color);
  border-left: var(--mixin-v-66iny2woJT_border-left-width)
    var(--mixin-v-66iny2woJT_border-left-style)
    var(--mixin-v-66iny2woJT_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-6KAK6HvK0vEf_color);
  padding-left: var(--mixin-6KAK6HvK0vEf_padding-left);
  border-left: var(--mixin-6KAK6HvK0vEf_border-left-width)
    var(--mixin-6KAK6HvK0vEf_border-left-style)
    var(--mixin-6KAK6HvK0vEf_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-jbqlelurEw02_font-family);
  border-radius: var(--mixin-jbqlelurEw02_border-top-left-radius)
    var(--mixin-jbqlelurEw02_border-top-right-radius)
    var(--mixin-jbqlelurEw02_border-bottom-right-radius)
    var(--mixin-jbqlelurEw02_border-bottom-left-radius);
  padding: var(--mixin-jbqlelurEw02_padding-top)
    var(--mixin-jbqlelurEw02_padding-right)
    var(--mixin-jbqlelurEw02_padding-bottom)
    var(--mixin-jbqlelurEw02_padding-left);
  border-top: var(--mixin-jbqlelurEw02_border-top-width)
    var(--mixin-jbqlelurEw02_border-top-style)
    var(--mixin-jbqlelurEw02_border-top-color);
  border-right: var(--mixin-jbqlelurEw02_border-right-width)
    var(--mixin-jbqlelurEw02_border-right-style)
    var(--mixin-jbqlelurEw02_border-right-color);
  border-bottom: var(--mixin-jbqlelurEw02_border-bottom-width)
    var(--mixin-jbqlelurEw02_border-bottom-style)
    var(--mixin-jbqlelurEw02_border-bottom-color);
  border-left: var(--mixin-jbqlelurEw02_border-left-width)
    var(--mixin-jbqlelurEw02_border-left-style)
    var(--mixin-jbqlelurEw02_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-b5V_n8CsDkwb_display);
  flex-direction: var(--mixin-b5V_n8CsDkwb_flex-direction);
  align-items: var(--mixin-b5V_n8CsDkwb_align-items);
  justify-content: var(--mixin-b5V_n8CsDkwb_justify-content);
  list-style-position: var(--mixin-b5V_n8CsDkwb_list-style-position);
  padding-left: var(--mixin-b5V_n8CsDkwb_padding-left);
  position: var(--mixin-b5V_n8CsDkwb_position);
  list-style-type: var(--mixin-b5V_n8CsDkwb_list-style-type);
  flex-column-gap: var(--mixin-b5V_n8CsDkwb_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-4zNbiZcIn1Vg_display);
  flex-direction: var(--mixin-4zNbiZcIn1Vg_flex-direction);
  align-items: var(--mixin-4zNbiZcIn1Vg_align-items);
  justify-content: var(--mixin-4zNbiZcIn1Vg_justify-content);
  list-style-position: var(--mixin-4zNbiZcIn1Vg_list-style-position);
  padding-left: var(--mixin-4zNbiZcIn1Vg_padding-left);
  position: var(--mixin-4zNbiZcIn1Vg_position);
  list-style-type: var(--mixin-4zNbiZcIn1Vg_list-style-type);
  flex-column-gap: var(--mixin-4zNbiZcIn1Vg_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-j2YE5B10Zpv1_color);
  font-size: var(--mixin-j2YE5B10Zpv1_font-size);
  font-weight: var(--mixin-j2YE5B10Zpv1_font-weight);
  letter-spacing: var(--mixin-j2YE5B10Zpv1_letter-spacing);
  line-height: var(--mixin-j2YE5B10Zpv1_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-A8Pp8RnZFOIY_color);
  font-size: var(--mixin-A8Pp8RnZFOIY_font-size);
  font-weight: var(--mixin-A8Pp8RnZFOIY_font-weight);
  line-height: var(--mixin-A8Pp8RnZFOIY_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-oxqokZWi_gCS_color);
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset :global(.__wab_expr_html_text) li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset :global(.__wab_expr_html_text) p),
:where(.root_reset.plasmic_default__p) {
}
